<!--<ion-side-menus>-->
  <!--&lt;!&ndash; Left menu &ndash;&gt;-->
  <!--<ion-side-menu side="left">-->
    <!--22-->
  <!--</ion-side-menu>-->

  <!--<ion-side-menu-content>-->
    <!--<ion-view >-->
      <!--<ion-content >-->
      <!--<button ng-click="emitU()">aaaaa</button>-->
        <!--<div class="board" id="myBoard"></div>-->
      <!--</ion-content>-->
    <!--</ion-view>-->
  <!--</ion-side-menu-content>-->

  <!--&lt;!&ndash; Right menu &ndash;&gt;-->
  <!--<ion-side-menu side="right">-->
    <!--<ion-list>-->
      <!--<ion-item class="item-remove-animate" ng-repeat="menu in menuList" type="item-text-wrap">-->
        <!--<h2>{{menu.NAME}}</h2>-->
        <!--</ion-item>-->
    <!--</ion-list>-->
  <!--</ion-side-menu>-->

<!--</ion-side-menus>-->
<ion-view >
  <ion-content>
    <div class="board" id="myBoard"></div>
  </ion-content>
</ion-view>
