<ion-view >
  <div class="bar bar-header bar-light">
    <h1 class="title">MQ消息中间件</h1>
  </div>
    <ion-content class="has-footer has-header">
      <ion-list>
        <ion-item class="item-avatar item-icon-right" ng-repeat="chat in $root.chatCache" type="item-text-wrap" ng-click="goChat(chat.id)">
          <img ng-src="{{chat.face}}">
          <h2>{{chat.name}}</h2>
          <p>{{chat.records[chat.records.length-1].body}}</p>
          <span class="badge badge-assertive">{{ chat.badge != 0 ? chat.badge : ""}}</span>
          <!--<i class="icon ion-ios-arrow-right"></i>-->
        </ion-item>
      </ion-list>
    </ion-content>
  <div class="tabs tabs-light tabs-icon-top tabs-color-positive">
    <a class="tab-item" ng-click="$root.onClickDashTab()">
      <i class="icon ion-cube"></i>菜单
    </a>
    <a class="tab-item" ng-click="$root.onClickPostTab()">
      <i class="icon ion-ios-book"></i>订阅
    </a>
    <a class="tab-item has-badge active" ng-click="$root.onClickChatTab()">
      <div class="badge badge-assertive">{{ $root.chatBadge != 0 ? $root.chatBadge : ""}}</div>
      <i class="icon ion-chatbubbles"></i>聊天
    </a>
    <a class="tab-item" ng-click="$root.onClickDrawTab()">
      <i class="icon ion-paintbrush"></i>绘画
    </a>
  </div>
</ion-view>
