<ion-side-menus>
  <!-- Left menu -->
  <ion-side-menu side="left">
    22
  </ion-side-menu>

  <ion-side-menu-content>
    <ion-view >
      <ion-content >
        <ion-list>
          <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="topic in topics" type="item-text-wrap" ng-click="loadPost()">
            <!--<img ng-src="{{post.user.avatar_url}}">-->
            <!--<h2>{{post.title}}</h2>-->
            <!--<p>{{post.user.login}}</p>-->
            <!--<p>{{post.created_at}}</p>-->
            <!--</ion-item>-->
            <!--<ion-infinite-scroll-->
            <!--on-infinite="loadMore()"-->
            <!--distance="1%">-->
            <!--</ion-infinite-scroll>-->
        </ion-list>
      </ion-content>
    </ion-view>
  </ion-side-menu-content>

  <!-- Right menu -->
  <ion-side-menu side="right">
    <ion-list>
      <ion-item class="item-remove-animate" ng-repeat="menu in menuList" type="item-text-wrap">
        <h2>{{menu.NAME}}</h2>
        </ion-item>
    </ion-list>
  </ion-side-menu>

</ion-side-menus>
